body{
    font-family: sans-serif;
    margin-top: 6%;
    background-size: cover;
    background-image: url(file:///Users/michele/Desktop/Visual%20Studio/Scooter%20Lim/MaterialeEsercizioLim/background.jpg);
}

body > div{
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.500);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
}

header{
    text-align: center;
    font-size:250%;
    color: rgb(72, 255, 0);
}

nav{
    text-align: center;
    background-color: rgb(72, 255, 0);
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}

nav > button{
    font-size: 300%;
    text-align: center;
    border-radius: 7px;
}

main{
    padding: 2%;
}


main > div{
    color: aliceblue;
    margin-left: 10%;
}

.Monopattini{
    font-size: 400%;
}

.Direzione{
    font-size: 300%;
}

#mediacarica{
    background-color: coral;
    margin-right: 60%;
    font-size: 400%;
    border-radius: 10px;
}

#carica{
    background-color:greenyellow ;
    margin-right: 40%;
    font-size: 400%;
    border-radius: 10px;
}

#pococarica{
    background-color:brown ;
    margin-right: 80%;
    font-size: 400%;
    border-radius: 10px;
}

.contenitore{
    padding: 10px;
}